#about-us {
  margin-top: 20px;
  margin-left: 50px;
  padding-bottom: 10px;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 0.8px;
}


#about-us p {
  margin-bottom: 15px; 
  line-height: 1.5em; 
  text-align: justify;
  padding: 10px 80px 10px 0px;
  margin-bottom: 10px;

}


#copyright-paragraph {
  text-align: center;
}
